.header {
    position: absolute;
    left: 0;
    top: 0;
    background: #ffffff;
    padding: 42px 28px;
    width: auto;
    text-align: start;
    margin: 16px;
    z-index: 9;
    border: 1px solid hsl(210, 4%, 30%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    &>h1 {
        color: #1D2939;
        font-weight: bold;
        font-size: 28px;
        margin-bottom: 8px;
    }

    div {
        align-items: end;
        justify-content: end;

        p {
            text-align: center;
            font-size: 14px;
            font-weight: 300;
            color: #98A2B3;
            cursor: pointer;

            &:first-child {
                padding-right: 6px;
            }
        }
    }
}

.todo {
    background: #ffffff;

    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;

    border-radius: 4px;
    padding: 22px 28px;
    border: 1px solid hsl(210, 4%, 30%);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    .tasks {
        width: 100%;

        &-engine {

            margin-top: 12px;

            h2 {
                color: #667085;
                text-align: start;
                font-size: 12px;
                font-weight: 300;
                user-select: none;
            }

            button {
                color: #667085;
                text-align: start;
                font-size: 12px;
                font-weight: 300;
                cursor: pointer;
                text-decoration: underline dotted;
                text-decoration-color: #0d7261;
            }
        }

        &-list {
            &__item {
                background-color: #f5f6f7;
                min-width: 250px;
                padding: 8px 9px;
                border-radius: 4px;
                margin: 16px 0px;
                border: 1px solid #dfe1e5;

                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;

                font-size: 14px;
                font-weight: 300;
                color: #1D2939;

                cursor: pointer;
                transition: all 0.12s;

                &:hover {
                    background-color: #0d7261;

                    p {
                        color: white;
                    }
                }

                article {
                    input[type="checkbox"]:checked {
                        appearance: none;
                        -webkit-appearance: none;
                        background-color: #0d7261;
                    }

                    p {
                        padding-left: 4px;
                        user-select: none;
                        padding-right: 24px;
                    }
                }

                button {
                    svg {
                        width: 19px;
                        height: 19px;
                    }
                }
            }
        }
    }

    .add-task {
        width: 100%;
        margin-top: 16px;

        button {
            width: 50%;
            height: 34px;
            background: #1D2939;
            color: white;
            padding: 8px 12px;

            border: 1px solid #dfe1e5;
            border-left: none;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }

        input[type="text"] {
            width: 100%;
            height: 34px;
            padding: 8px 12px;

            border: 1px solid #dfe1e5;
            border-right: none;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }
    }
}

#rust-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    transition: all 0.5s;
    position: relative;
    left: 0;

    img {
        width: 200px;
        height: 140px;
    }

    &:hover {
        left: 25px;
    }
}

.not-valid {
    margin-top: 12px;
    font-size: 16px;
    font-weight: 300;
    color: #1D2939;
}